/*======================<gallery>==================*/
.gallery__content {
  height: 2815px;
  padding-top: 120px;
  margin-bottom: -140px;
  background-image: url("../img/gallery-bg2.jpg");
// background-size: cover;
  background-repeat: repeat-y;
  top: -120px;
  z-index: -2;
  }

.gallery__wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.gallery__picture {
  position: absolute;
  display: block;
  box-shadow: $ss-block;  
}

@media screen and (max-width: 1500px) {
  .gallery__content {
    height: auto;
    padding-bottom: 100px;
  }
  
  .gallery__content .container {
    width: 100%;
  }
  
  .gallery__wrap {
    display: grid;
    grid-auto-flow: dense;
   grid-template-columns: 1fr 1fr; 
    grid-row-gap: 40px;
    justify-items: start;
  }
  
  .gallery__picture {
    position: static;
  }
  
  .gallery__picture {
    justify-self: center;  
  }
  
}

@media screen and (max-width: 1160px) { 
  .gallery__wrap {
    grid-template-columns: 1fr;
  }
}


@media screen and (max-width: 630px) { 
   .gallery__content .container {
    width: 94%;
  }
  
  .gallery__picture {
    width: 100%;
  }
}

/*======================<gallery end>==================*/