<div class="our-menu">
 
    <button class="cmn-toggle-switch cmn-toggle-switch__htx">
            <span>our menu</span>
    </button> <!--humburger-menu-icon end--> 
  <h3 class="our-menu__heading" class="container">
    Injoy your meal
    </h3>  <!--container-->
    
    <ul class="menu__items">
     
      <li class="menu__item">
        <a href="#">
          All Day Breakfast
        </a>
      </li> <br>
      
      <li class="menu__item">
        <a href="#">
          Soup
        </a>
      </li>
      
      <li class="menu__item">
        <a href="#">
          Pirogki
        </a>
      </li>            
      
      <li class="menu__item">
        <a href="#">
          Crepes
        </a>
      </li>
      
      <li class="menu__item">
        <a href="#">
          Main Cources
        </a>
      </li>
      
      <li class="menu__item">
        <a href="#">
          European Style Cakes
        </a>
      </li>

      <li class="menu__item">
        <a href="#">
          Vegetarian Menu
        </a>
      </li>
      
      <li class="menu__item">
        <a href="#">
          Kids Menu
        </a>
      </li> 
      
      <li class="menu__item">
        <a href="#">
          The best coffe from Aromas
        </a>
      </li>    
    
    </ul>
    
    <div class="special-offer">
      <span class="special-offer__heading upper">
        Special offer
      </span>
      $8 for coffee + 2 crepes
    </div>        
    
</div>




