<div class="menu-content">
  <h2>Our menu</h2>
       
      <div class="slider myslider__outer">
       <div class="myslider">

          <div class="dish__items myslider__wrapper">

           <div class="myslider__item">
           
             <div class="dish__item">
               <div class="dish__new">New</div>
               <a class="dish__picture_wrap" href="#"> 
                 <img class="dish__picture" src="img/Menu/borsch.jpg">
               </a>
               <a href="#">              
                 <h4 class="dish__title">
                 Borscht
                 </h4>
               </a>               
               <div class="dish__price"> $9.95</div>
             </div>  <!--dish-item-->

          </div>      <!--myslider__item-end-->

           <div  class="myslider__item">

             <div class="dish__item">
               <div class="dish__new">New</div>
               <a class="dish__picture_wrap" href="#"> 
                 <img class="dish__picture" src="img/Menu/sunny side up egg.jpg">
               </a>
               <a href="#">              
                 <h4 class="dish__title">
                 Sunny side up eggs
                 </h4>
               </a>               
               <div class="dish__price"> $8.95</div>
             </div>  <!--dish-item-->          

          </div>      <!--myslide__item-end-->

           <div  class="myslider__item">

             <div class="dish__item">
               <div class="dish__new">New</div>
               <a class="dish__picture_wrap" href="#"> 
                 <img class="dish__picture" src="img/Menu/vegetarian dumplings.jpg">
               </a>
               <a href="#">              
                 <h4 class="dish__title">
                 Vegetarian dumplings
                 </h4>
               </a>               
               <div class="dish__price"> $9.95</div>
             </div>  <!--dish-item-->              

          </div>      <!--myslide__item-end-->


           <div  class="myslider__item">

             <div class="dish__item">
               <div class="dish__new">New</div>
               <a class="dish__picture_wrap" href="#"> 
                 <img class="dish__picture" src="img/Menu/Piroshki.jpg">
               </a>
               <a href="#">              
                 <h4 class="dish__title">
                 Piroshki
                 </h4>
               </a>               
               <div class="dish__price"> $4.50</div>
             </div>  <!--dish-item-->                 

          </div>      <!--myslide__item-end-->

           <div  class="myslider__item">

             <div class="dish__item">
               <div class="dish__new">New</div>
               <a class="dish__picture_wrap" href="#"> 
                 <img class="dish__picture" src="img/Menu/german sausage.jpg">
               </a>
               <a href="#">              
                 <h4 class="dish__title">
                 German sausage
                 </h4>
               </a>               
               <div class="dish__price"> $5.95</div>
             </div>  <!--dish-item-->               

           </div>      <!--myslide__item-end--> 

           <div  class="myslider__item">

             <div class="dish__item">
               <div class="dish__new">New</div>
               <a class="dish__picture_wrap" href="#"> 
                 <img class="dish__picture" src="img/Menu/polish golabky.jpg">
               </a>
               <a href="#">              
                 <h4 class="dish__title">
                 Polish golabky
                 </h4>
               </a>               
               <div class="dish__price"> $9.95</div>
             </div>  <!--dish-item-->               

           </div>      <!--myslide__item-end-->          
         
           <div  class="myslider__item">

             <div class="dish__item">
               <div class="dish__new">New</div>
               <a class="dish__picture_wrap" href="#"> 
                 <img class="dish__picture" src="img/Menu/european dumplings.jpg">
               </a>
               <a href="#">              
                 <h4 class="dish__title">
                 European dumplings
                 </h4>
               </a>               
               <div class="dish__price"> $9.95</div>
             </div>  <!--dish-item-->               

           </div>      <!--myslide__item-end-->              
         
          </div>     <!--wrap-->            
          </div>     <!--mySlider-->            

      <div class="myslider__control myslider__control_left myslider__control_show" role="button">
        <i class="myslider__control_icon fa fa-caret-left"></i>
      </div>
      <div class="myslider__control myslider__control_right myslider__control_show" role="button">
        <i class="myslider__control_icon fa fa-caret-right"></i>
      </div> 

     </div> <!--slider-->
      
    <div class="square"></div>
        

</div>