<div class="shop-content">
  <div class="content__wrap">
        <div class="square"></div>     
        <h2>Featured products</h2>
        <div class="product-items">
          
           <div class="product-item">
             <div class="product__sale">Sale</div>
             <div class="product__new">New</div>
             <a class="picture__wrap" href="#"> 
               <img class="product__picture" src="img/products/product-full-83.png">
             </a>
             <a href="#">              
               <h4 class="product__title">
               Irish Porter Cheddar
               </h4>
             </a>               
             <div class="product__price"><span class="price">$4.99</span> / <span class="unit-measure">100g</span></div>
           </div>  <!--product-item-->
           
           
           <div class="product-item">
             <div class="product__sale">Sale</div>
             <div class="product__new">New</div>
              <a class="picture__wrap" href="#"> 
               <img class="product__picture" src="img/products/product-full-7.png">
             </a>
              <a href="#"> 
               <h4 class="product__title">
               Traffel salami
               </h4>
              </a>
             <div class="product__price"><span class="price">$4.99</span> / <span class="unit-measure">100g</span></div>
             
           </div>  <!--product-item-->
           
           <div class="product-item">
             <div class="product__sale">Sale</div>
             <div class="product__new">New</div>
             <a class="picture__wrap" href="#">
               <img class="product__picture" src="img/products/product-full-115.png">
              </a>
             <a href="#">              
               <h4 class="product__title">
               Sicilian green olives
               </h4>
             </a>               
             <div class="product__price"><span class="price">$4.99</span> / <span class="unit-measure">100g</span></div>
           </div>  <!--product-item-->                                 
           <div class="product-item">
             <div class="product__sale">Sale</div>
             <div class="product__new">New</div>
             <a class="picture__wrap" href="#"> 
               <img class="product__picture" src="img/products/product-full-83.png">
             </a>
             <a href="#">              
               <h4 class="product__title">
               Irish Porter Cheddar
               </h4>
             </a>               
             <div class="product__price"><span class="price">$4.99</span> / <span class="unit-measure">100g</span></div>
           </div>  <!--product-item-->
           
           
           <div class="product-item">
             <div class="product__sale">Sale</div>
             <div class="product__new">New</div>
              <a class="picture__wrap" href="#"> 
               <img class="product__picture" src="img/products/product-full-7.png">
             </a>
              <a href="#"> 
               <h4 class="product__title">
               Traffel salami
               </h4>
              </a>
             <div class="product__price"><span class="price">$4.99</span> / <span class="unit-measure">100g</span></div>
             
           </div>  <!--product-item-->
           
           <div class="product-item">
             <div class="product__sale">Sale</div>
             <div class="product__new">New</div>
             <a class="picture__wrap" href="#">
               <img class="product__picture" src="img/products/product-full-115.png">
              </a>
             <a href="#">              
               <h4 class="product__title">
               Sicilian green olives
               </h4>
             </a>               
             <div class="product__price"><span class="price">$4.99</span> / <span class="unit-measure">100g</span></div>
           </div>  <!--product-item-->    
                      
        </div> <!--product-items-->
  </div> <!--content__wrap-->

  <div class="content__wrap">
        <h2>Popular products</h2>
        <div class="product-items">
          
           <div class="product-item">
             <div class="product__sale">Sale</div>
             <div class="product__new">New</div>
             <a class="picture__wrap" href="#"> 
               <img class="product__picture" src="img/products/product-full-83.png">
             </a>
             <a href="#">              
               <h4 class="product__title">
               Irish Porter Cheddar
               </h4>
             </a>               
             <div class="product__price"><span class="price">$4.99</span> / <span class="unit-measure">100g</span></div>
           </div>  <!--product-item-->
           
           
           <div class="product-item">
             <div class="product__sale">Sale</div>
             <div class="product__new">New</div>
              <a class="picture__wrap" href="#"> 
               <img class="product__picture" src="img/products/product-full-7.png">
             </a>
              <a href="#"> 
               <h4 class="product__title">
               Traffel salami
               </h4>
              </a>
             <div class="product__price"><span class="price">$4.99</span> / <span class="unit-measure">100g</span></div>
             
           </div>  <!--product-item-->
           
           <div class="product-item">
             <div class="product__sale">Sale</div>
             <div class="product__new">New</div>
             <a class="picture__wrap" href="#">
               <img class="product__picture" src="img/products/product-full-115.png">
              </a>
             <a href="#">              
               <h4 class="product__title">
               Sicilian green olives
               </h4>
             </a>               
             <div class="product__price"><span class="price">$4.99</span> / <span class="unit-measure">100g</span></div>
           </div>  <!--product-item-->                                 
           
        </div> <!--product-items-->
  </div> <!--content__wrap-->        
    
    
</div>