<div class="categories">
    <button class="cmn-toggle-switch cmn-toggle-switch__htx">
            <span>categories</span>
    </button> <!--humburger-menu-icon end-->
   
    <h3 class="categories__heading">Try our range</h3>
    
    <ul class="category__items">
      <li class="category__item">
        <a href="#">
          Grains &amp; Cereals
        </a>
      </li>
      
      <li class="category__item">
        <a href="#">
          Small Goods
        </a>
      </li>
      
      <li class="category__item">
        <a href="#">
          Dairy
        </a>
      </li>            
      
      <li class="category__item">
        <a href="#">
          Sweets &amp; Chocolates
        </a>
      </li>
      
      <li class="category__item">
        <a href="#">
          Rye Bread
        </a>
      </li>
      
      <li class="category__item">
        <a href="#">
          Dumplings &amp; Pelmeni
        </a>
      </li>

      <li class="category__item">
        <a href="#">
          Seafood
        </a>
      </li>
      
      <li class="category__item">
        <a href="#">
          Caviar
        </a>
      </li> 
      
      <li class="category__item">
        <a href="#">
          Canned fish
        </a>
      </li>
       
      <li class="category__item">
        <a href="#">
          Jams &amp; Preserves
        </a>
      </li>          
       
       <li class="category__item">
        <a href="#">
          Beverages
        </a>
      </li>          
       
       <li class="category__item">
        <a href="#">
          Baking
        </a>
      </li>          
       
       <li class="category__item">
        <a href="#">
          Cheese
        </a>
      </li>          
       
       <li class="category__item">
        <a href="#">
          Sunflower Seeds
        </a>
      </li>          
       
       <li class="category__item">
        <a href="#">
          Tea &amp; Coffee
        </a>
      </li>          
       
       <li class="category__item">
        <a href="#">
          Pasta
        </a>
      </li>          
       
       <li class="category__item">
        <a href="#">
          Cakes
        </a>
      </li>          
       
       <li class="category__item">
        <a href="#">
          Pickled &amp; Mushrooms
        </a>
      </li>          
       
       <li class="category__item">
        <a href="#">
          Olives
        </a>
      </li>          
       
       <li class="category__item">
        <a href="#">
          Sauces &amp; Oils
        </a>
      </li>          
       
       <li class="category__item">
        <a href="#">
          Herbs &amp; Spices
        </a>
      </li>
           
    </ul>
    
    <form class="search__form" action="#">

        <input name="search" class="search__field"  type="text" placeholder="Search for...">

         <span><i class="search__icon fa fa-search"></i></span>
        <input id="search__submit" type="submit" value=""> 
        
    </form>                    

    </div>