@font-face {
  font-family: "Heading";
  src: url("../fonts/P.ttf") format("truetype"),
   url('../fonts/P.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Open-sanse-bold";
  src: url("../fonts/2204.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Open-sanse-regular";
  src: url("../fonts/11549.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}