// Fonts
$ff-head: 'Heading';
$ff-main-b: 'Open-sanse-bold';
$ff-main: 'Open-sanse-regular';

//Colors
$cc-text: #150c02;
$cc-head: #420101;
$cc-accent: #a01d1d;
$cc-text-accent: #a88756;
$cc-link: #2d53cf;
$cc-sec-back: #faf6f0;


//Shadow
$ss-block: 0px 4px 4px 7px rgba(0, 0, 0, 0.24); 

//border
$bb-block: 1px solid #faf6f0;