// Fonts
$ff-head: 'Heading';
$ff-main-b: 'Open-sanse-bold';
$ff-main: 'Open-sanse-regular';

//Colors
$cc-text: #150c02;
$cc-head: #5e0303;
$cc-accent: #a01d1d;
$cc-text-accent: #a88756;
$cc-link: #2d53cf;
$cc-sec-back: #faf6f0;
$cc-new: #0a6d11;


//Shadow
$ss-block: 0px 3px 6px 3px rgba(0, 0, 0, 0.15); 

//border
$bb-block: 1px solid #f9f0e3;